body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    max-width: 500px;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #25a2c3;
}

header {
    background-color: black;
    box-sizing: border-box;
    padding: 30px;
    height: 18vh;
    width: 100%;
    text-align: center;
}

header img {
    height: 100%;
}

.topContent {
    background-size: cover;
    background-position: center;
    background-image: url('../images/banner.jpg');
    height: 480px;
    width: 100%;
    display: table;
    text-align: center;
}

.title {
    display: table-cell;
    vertical-align: middle;
}

.topContent h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    color: #25a2c3;
    font-size: 2em;
}

.topContent button {
    background-color: #f04c2f;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    padding: 1.2em 2.5em;
    color: white;
    border: none;
}

.centerContent {
    box-sizing: border-box;
    height: 800px;
    display: table;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    padding: 50px;
}

.centerContent section {
    display: table-cell;
    vertical-align: middle;
}

.notebook {
    border-radius: 50%;
    width: 70%;
    margin: 30px 0;
}

.paragraph {
    text-align: center;
    margin: 20px 0px ;
}


.test {
    background-color: #e22d0e;
    height: 330px;
    color: white;
    width: 100%;
    display: table;
}

.commento {
    box-sizing: border-box;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.commento h2 {
    color: white;
    font-size: 35px;
}

.secondParagraph {
    font-size: 15px;
}

.thirdParagraph {
    font-size: 10px;
}

.link {
    height: 600px;
    display: table;
    text-align: center;
}

.imgLinks {
    border: 1px solid #dee1e3;
    text-align: center;
    width: 85%;
    font-size: 15px;
    height: 330px;
    margin: 50px auto;
}

.imgLinks img {
    width: 100%;
    height: 70%;
}

footer {
    background-color: #25a2c3;
    height: 400px;
    text-align: center;
}

.foot {
    display: table;
    color: #c8e7f0;
    width: 50vw;
    margin: auto;
    text-align: center;
}

.secFoot {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 30px;
}

.secFoot h2 {
    color: white;
    font-size: 2em;
    text-align: center;
}

.secFoot a {
    color: #c8e7f0;
}

.copyright {
    font-size: 17px;
    text-align: center;
}

i {
    color: white;
}

hr {
    width: 60vw;
}